.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#form-data {
  display: none;
  flex-direction: column;
}

main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

hr {
  width: 500px;
}

textarea {
  resize: none;
}

#submit-btn {
  width: 60px;
  height: 20px;
  margin-top: 10px;
  align-self: center;
}

#label-infos {
  align-self: center;
}

#counter {
  text-align: end;
  margin: 8px 5px 16px;
}
